<head>
  <meta charset="utf-8">

  <title>The Danger of Carnivore and Keto</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="author" content="Quintus BlueSertorius">
  <meta name="description" content="While potent elimination diet, these approach have significant effects on physiology to consider while evaluating your nutrition strategy." />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@BlueSertorius">
  <meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}Not just meat.{% endif %}" />
  {% if page.is_article %}
  <meta property="og:type" content="article" />
  <meta property="og:article:author" content="{{page.author}}" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  {% if page.description %}
  <meta property="og:description" content="{{page.description}}" />
  <meta property="twitter:description" content="{{page.description}}" />
  {% else %}
  <meta property="og:description" content="Why Carnivore and Keto can cause problems for some people" />
  {% endif %}
  <meta property="og:image" content="https://justmeat.co/img/arance-rosse.jpg" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico?" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico?" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script>
  if( navigator.doNotTrack != "yes" && navigator.doNotTrack != "1" && window.doNotTrack != "1" && navigator.msDoNotTrack != "1" ){
    var script = document.createElement('script');
  	script.src = "/js/analytics.js"
  	document.getElementsByTagName("head")[0].appendChild(script);
  }
  </script>
</head>
