<div class="jumbotron">
  {%- include github-corner.html -%}
  <h1>The Danger of Carnivore & Keto Diets  </h1>
  <p>While potent elimination diet, these approach have significant effects on physiology to consider while evaluating your nutrition strategy.</p>
  <p><em>"I shall not require of a scientific system that it shall be capable of being singled out, once and for all, in a positive sense; but I shall require that its logical form shall be such that it can be singled out, by means of empirical tests, in a negative sense: it must be possible for an empirical scientific system to be refuted by experience."</em> - Karl Popper</p>
  <p>Created by <a href="https://twitter.com/BlueSertorius">Sertorius</a> (<a href="https://twitter.com/BlueSertorius">@BlueSertorius</a>)</p>
  {% include menu.html %}
</div>
